.btnbox button{
    /* border: 0.2px dotted white; */
    border:none;
    background-color: rgb(18, 198, 189);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
  }

button:hover {
  background-color: rgb(19, 171, 161);
}

button.equals{
  grid-column: 3 / 5;
  background-color: rgb(243, 61, 29);
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}